<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/home_stye.css" />
  </head>
  <body>
    <div class="nav">
      <div>
        <ul class="nav-1">
          <li><a href=" ">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="receipes">Recipes</a></li>
          <li><a href="receipes">Nutritients</a></li>
        </ul>
      </div>
      <div>
        <ul class="nav-2">
          <li><a href="signup"></a>Sign Up</li>
          <li><a href="signin"></a>Sign In</li>
          <li><a href="profile"></a>Profile</li>
        </ul>
      </div>
    </div>
  </body>
</html>
